@charset "utf-8";
/* CSS Document */

body { width:100%; height:%; margin:0 auto; padding:0; font:normal 12px Verdana, Geneva, sans-serif; color:#333; }
#body a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#body a:hover { color:#000; }

#principal { margin:0 auto; width:900px; height:%; border:solid 1px #999;}

#topo { background:#fcb134; text-align:center; height:107px; }

#banner {height:305px; position:relative;}
#banner a {float:left; position:absolute;}
#banner a img {  border:none; }
#banner a.show { z-index:500 }





#menu, #menu a { height:23px; background:#000; color:#fcb134;  text-decoration:none;  text-align:center; padding-top:7px; }
#menu a:hover { color:#fff; }

#submenu, #submenu a { height:23px; background:#fcb134; color:#000; text-decoration:none; text-align:center; padding-top:7px; }
#submenu a:hover { color:#fff; }

#div1 { left:50%; margin-left:-450px; visibility: hidden; text-align:left; position:absolute; top: 450px; z-index:1; width: 900px; }
#div2 { left:50%; margin-left:-450px; visibility: hidden; text-align:left; position:absolute; top: 450px; z-index:1; width: 900px; }
#div3 { left:50%; margin-left:-450px; visibility: hidden; text-align:left; position:absolute; top: 450px; z-index:1; width: 900px; }
#div4 { left:50%; margin-left:-450px; visibility: hidden; text-align:left; position:absolute; top: 450px; z-index:1; width: 900px; }

#cont { height:%; padding:30px; text-align:justify; }
#cont2 { height:400px; padding:30px; text-align:justify; }
#cont3 { height:450px; padding:30px; text-align:justify; }
#cont4 { height:400px; padding:30px; text-align:justify; }
#cont5 { height:450px; padding:30px; text-align:justify; }
#cont6 { height:530px; padding:30px; text-align:justify; }
#cont7 { height:240px; padding:30px; text-align:justify; }
#cont8 { height:320px; padding:30px; text-align:justify; }
#cont9 { height:1380px; padding:30px; text-align:justify; }
#cont10 { height:1200px; padding:30px; text-align:justify; }
#cont11 { height:660px; padding:30px; text-align:justify; }
#cont12 { height:1600px; padding:30px; text-align:justify; }
#cont13 { height:1450px; padding:30px; text-align:justify; }
#cont14 { height:730px; padding:30px; text-align:justify; }
#cont15 { height:800px; padding:30px; text-align:justify; }
#cont16 { height:430px; padding:30px; text-align:justify; }
#cont17 { height:700px; padding:30px; text-align:justify; }
#cont18 { height:500px; padding:30px; text-align:justify; }

#cont-left { width:100%; height:%; margin:0 auto; padding:0; font:normal 12px Verdana, Geneva, sans-serif; color:#333; }
#cont-left a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#cont-left a:hover { color:#000; }


#cont-right { width: 200px; height:400px; background:#fff; margin-left:30px; float:right; border:solid 1px #000; }

#cont-photos { margin:0 auto; height:%; }
#photo { width:188px; height:176px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos2 { margin:0 auto; height:%; }
#photo2 { width:400px; height:340px; margin:4px; padding:2px; background:#F8F8F8; text-decoration:none; border:solid 1px #CCC; float:left;  }
#photo2 a:hoover { color:#000; }

#cont-photos3 { margin:0 auto; height:%; color:#000}
#photo3 { width:180px; height:310px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left; }
#photo3 a { background:#f8f8f8; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo3 a:hover { color:#000; }

#cont-photos6 { margin:0 auto; height:%; }
#photo6 { width:614px; height:310px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos7 { margin:0 auto; height:%; }
#photo7 { width:411px; height:310px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo7 a { background:#f8f8f8; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo7 a:hover { color:#000; }

#cont-photos8 { margin:0 auto; height:%; }
#photo8 { width:814px; height:240px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos9 { margin:0 auto; height:%; }
#photo9 { width:814px; height:120px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos4 { margin:0 auto; height:%; }
#photo4 { width:814px; height:%; margin:6px; padding:4px; background:#fcb134; border:solid 1px #CCC; float:left;  }
#photo4 a { background:#fcb134; color:#bb7300;  text-decoration:none;  text-align:left; }
#photo4 a:hover { color:#000; }

#cont-photos10 { margin:0 auto; height:%; }
#photo10 { width:180px; height:124px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo10 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo10 a:hover { color:#000; }

#cont-photos11 { margin:0 auto; height:%; }
#photo11 { width:614px; height:124px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo11 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo11 a:hover { color:#000; }

#cont-photos12 { margin:0 auto; height:%; }
#photo12 { width:100px; height:150px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos13 { margin:0 auto; height:%; }
#photo13 { width:694px; height:280px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos14 { margin:0 auto; height:%; }
#photo14 { width:100px; height:112px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos15 { margin:0 auto; height:%; }
#photo15 { width:694px; height:310px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos16 { margin:0 auto; height:%; }
#photo16 { width:180px; height:200px; margin:6px; padding:4px; background:#FFF; border:solid 1px #FFF; float:left;  }

#cont-photos17 { margin:0 auto; height:%; }
#photo17 { width:614px; height:270px; margin:6px; padding:4px; background:#FFF; border:solid 1px #FFF; float:left;  }
#photo17 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo17 a:hover { color:#000; }

#cont-photos18 { margin:0 auto; height:%; }
#photo18 { width:180px; height:240px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos19 { margin:0 auto; height:%; }
#photo19 { width:614px; height:240px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos20 { margin:0 auto; height:%; }
#photo20 { width:414px; height:200px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos21 { margin:0 auto; height:%; }
#photo21 { width:180px; height:280px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos25 { margin:0 auto; height:%; }
#photo25 { width:180px; height:280px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo25 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo25 a:hover { color:#000; }

#cont-photos26 { margin:0 auto; height:%; }
#photo26 { width:614px; height:280px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo26 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo26 a:hover { color:#000; }

#cont-photos22 { margin:0 auto; height:%; }
#photo22 { width:614px; height:280px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo22 :hoover { color:#000; text-decoration:none; }

#cont-photos23 { margin:0 auto; height:%; }
#photo23 { width:128px; height:138px; margin:6px; padding:4px; background:#fff; border:solid 1px #fff; float:left;  }

#cont-photos27 { margin:0 auto; height:%; }
#photo27 { width:814px; height:550px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }
#photo27 a { background:#f8f8f8; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo27 a:hover { color:#000; }



#cont-photos28 { margin:0 auto; height:%; }
#photo28 { width:400px; height:340px; margin:4px; padding:2px; background:#FFF; border:solid 1px #CCC; float:left;  }

#cont-photos29 { margin:0 auto; height:%; }
#photo29 { width:380px; height:305px; margin:4px; padding:2px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos30 { margin:0 auto; height:%; }
#photo30 { width:180px; height:240px; margin:6px; padding:4px; background:#FFF; border:solid 1px #fff; float:left;  }

#cont-photos31 { margin:0 auto; height:%; }
#photo31 { width:614px; height:1550px; margin:6px; padding:4px; background:#F8F8F8; border:solid 1px #CCC; float:left;  }

#cont-photos32 { margin:0 auto; height:%; }
#photo32 { width:480px; height:425px; margin:4px; padding:2px; background:#FFF; border:solid 1px #FFF; float:left;  }

#cont-photos33 { margin:0 auto; height:%; }
#photo33 { width:666px; height:320px; margin:6px; padding:4px; background:#fff; border:solid 1px #fff; float:left;  }
#photo33 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo33 a:hover { color:#000; }

#cont-photos34 { margin:0 auto; height:%; }
#photo34 { width:180px; height:270px; margin:6px; padding:4px; background:#fff; border:solid 1px #fff; float:left;  }

#cont-photos35 { margin:0 auto; height:%; }
#photo35 { width:614px; height:350px; margin:6px; padding:4px; background:#FFF; border:solid 1px #FFF; float:left;  }
#photo35 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo35 a:hover { color:#000; }

#cont-photos36 { margin:0 auto; height:%; }
#photo36 { width:814px; height:300px; margin:6px; padding:4px; background:#fff; border:solid 1px #fff; float:left;  }
#photo36 a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#photo36 a:hover { color:#000; }

#cont-photos37 { margin:0 auto; height:%; }
#photo37 { width:640px; height:390px; margin:4px; padding:2px; background:#FFF; border:solid 1px #CCC; float:center;  }

#cont-photos5 { margin:0 auto; height:%; }
#photo5 { width:150px; height:%; margin:6px; padding:4px; background:#FF0000; border:solid 1px #000; float:left; font-size:15px; font-color:#fff; font-weight:bold; text-align:center;  }
#photo5 :hoover { color:#000; text-decoration:none; }

#box-title { height:23px; background:#fcb134; color:#fff; font-size:14px; padding-top:7px; font-weight:bold; text-align:center; font-size:12px; }
#box-cont { height:240px; color:#333;  padding-top:7px; text-align:justify; padding:6px; font-size:12px; }
#box-cont a { background:#fff; color:#fcb134;  text-decoration:none;  text-align:left; }
#box-cont a:hover { color:#000; }
#box-bottom { height:26px;  color:#000;  padding-top:7px; text-align:center; vertical-align:bottom; font-size:12px; }


#boxadv { width:900px; height:200px; background:#ddd; color:#f3f3f3; text-decoration:none; font-size:11px; padding-top:10px; color:#666; }
#boxadv-a { width: 170px; height:100px; margin-left:20px; float:left; }
#boxadv-b { width: 130px; height:100px; margin-left:100px; float:left; }
#boxadv-c { width: 140px; height:100px; margin-left:10px; float:left; }
#boxadv-d { width: 180px; height:100px; margin-left:10px; float:left; }
#boxadv-e { width: 130px; height:100px; margin-left:10px; float:left; }
#boxadv a { color:#555;  text-decoration:none;}
#boxadv a:hover { color:#fcb134; }

#footer { width:900px; height:30px; background:#efa01d; color:#000; font-size:11px; text-align:center; padding-top:6px; color:#555; }
#footer a { width:900px; height:23px; color:#555; text-decoration:none; text-align:center; padding-top:7px; text-decoration:none; }
#footer a:hover { color:#000; }



.title { font:bold 18px Georgia, "Times New Roman", Times, serif; }
