.box-purchase {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.box-size01 {
	width: 300px;
}
.box-tel01 {
	width: 50px;
}
.box-tel02 {
	width: 84px;
}
.box-tel03 {
	width: 120px;
}
.nTitle01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 10px;
}
.nStrip {
	background-image: url(../images/a-Strip.jpg);
	background-repeat: repeat-x;
}
.ntitle02 {
	background-color: #fcb134;
	color: #000000;
	padding-left: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.nBrdLRB {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fcb134;
	border-right-color: #fcb134;
	border-bottom-color: #fcb134;
	border-left-color: #fcb134;
}
.nBrdRB {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #fcb134;
	border-right-color: #fcb134;
	border-bottom-color: #fcb134;
	border-left-color: #fcb134;
}
#nPadding{
	padding: 5px;
}
#boxSize{
	width: 275px;
}
#telinfo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
